[Unit]
Description=mouseless

[Service]
ExecStart=/home/anthony/.usr/local/bin/mouseless --debug --config /home/anthony/.config/mouseless/config.yaml

[Install]
WantedBy=multi-user.target
