[Desktop Entry]
Name=Discord Web
Comment=Discord Web como aplicación
Exec=brave --app=https://discord.com/channels/@me
Icon=discord
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
StartupWMClass=discord.com
