[Desktop Entry]
Type=Application
Name=Rain Add Torrent (Magnet)
Comment=Add magnetic links to Rain Server
Exec=rain client add --torrent %u; notify-send --icon ~/.local/share/icons/rain.png "Rain" "Torrent successfully added"
Icon=rain
Terminal=false
MimeType=x-scheme-handler/magnet;
Categories=Network;FileTransfer;P2P;
StartupNotify=true
