{
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "m",
    ): Minimize,
    (
        modifiers: [
            Super,
        ],
        key: "n",
    ): NextWorkspace,
    (
        modifiers: [
            Super,
        ],
        key: "p",
    ): PreviousWorkspace,
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "n",
    ): MoveToNextWorkspace,
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "p",
    ): MoveToPreviousWorkspace,
    (
        modifiers: [
            Super,
        ],
        key: "d",
    ): ToggleSticky,
    (
        modifiers: [
            Super,
        ],
        key: "t",
    ): Spawn("nu/cosmic terminal"),
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "h",
    ): Spawn("nu/cosmic swipe left"),
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "j",
    ): Spawn("nu/cosmic swipe down"),
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "k",
    ): Spawn("nu/cosmic swipe up"),
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "l",
    ): Spawn("nu/cosmic swipe right"),
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "s",
    ): Spawn("nu/cosmic media play"),
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "d",
    ): Spawn("nu/cosmic media next"),
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "f",
    ): Spawn("nu/cosmic media previous"),
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "y",
    ): Spawn("nu/cosmic unlike"),
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "u",
    ): Spawn("nu/cosmic tap"),
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "i",
    ): Spawn("nu/cosmic dtap"),
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "o",
    ): Spawn("nu/cosmic audio"),
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "p",
    ): Spawn("nu/cosmic download"),
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "q",
    ): Spawn("nu/cosmic back"),
}
